PORT=4000
FRONTEND_URL=
HASH_ROUNDS=10
JWT_SECRET=replace-with-a-long-random-secret
JWT_REFRESH_SECRET=replace-with-a-short-random-secret
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/medic

# Computer IPv4 mobile
# EXPO_PUBLIC_API_URL=http://192.168.1.6:4000

# localhost computer
EXPO_PUBLIC_API_URL=http://localhost:4000